@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f0617;
}

body {
  font-family: "Noto Sans", sans-serif;
}
.flex {
  display: flex;
}
.slick-dots button:before {
  color: White !important;
}
.slick-next {
  margin-right: 22%;
}
.slick-prev {
  margin-left: 21%;
  z-index: 999;
}
.slick-dots {
  height: 50px;
}
.slick-current #watchNowBtn,
.slick-current #coverImg {
  display: flex;
}
