@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f0617;
}

body {
  font-family: "Noto Sans", sans-serif;
}
